{% load static %}

<!doctype html>
<html>
    <head>
        <title>Minerals Catalog</title>
        <link rel="stylesheet" href="{% static 'css/global.css' %}">
    </head>
    <body>
      <div style="margin: 0 auto; width: 200px;">
        <form action="{% url 'minerals:search' %}" method="GET">
          <input type="search" name="q">
          <input type="submit" value="Search">
        </form>
        {% if term %}
          <h3>search: {{ term }}</h3>
        {% endif %}
      </div>
      <div class="grid-10">
        {% if groups %}
        <ul>
          {% for G in groups %}
          {% if group in G %}
            <li style="color: #39f; font-weight: bold; font-size: 2.0rem;"><a href="{% url 'minerals:group_list' group=G %}">{{ G }}</a></li>
          {% else %}
            <li><a href="{% url 'minerals:group_list' group=G %}">{{ G }}</a></li>
          {% endif %}
          {% endfor %}
        </ul>
        {% endif %}
      </div>
        {% block content %}{% endblock %}
        <div class="minerals__random">
          <a class="minerals__anchor" href="{% url 'minerals:random' %}">Show random mineral</a>
        </div>
    </body>
</html>
